@charset "UTF-8";

/* TODAS AS DEMAIS MIDIAS*/

/* Pesquisar sobre: Typical Device Breakpoints
Pequenas telas: ate 600 px 
Celular: de 600px ate 768 px
tablet: 768 px ate 992 px
desktop: 992 px ate 1200
grandes telas: acima de 1200px
*/

@media print {
    body {
        background-image: url(../imagens/back-print.jpg); /* desnecessario */
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    main {
        width: 500px;
    }

    img#phone {display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#desktop {display: none}
    img#tv { display: none;}

}


@media screen and (min-width:992px) and (max-width: 1200px) {
    body { background-image: url(../imagens/back-pc.jpg);
    }

    main {
        width: 600px;
    }

    img#phone {display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#desktop {display: block}
    img#tv { display: none;}

}


@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone {display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#desktop {display: none}
    img#tv { display: block;}

}